<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <jsp-file>/WEB-INF/Statistics.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stud_CV_Upload</servlet-name>
        <servlet-class>Student.Stud_CV_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Home_Process</servlet-name>
        <servlet-class>Admin.Admin_Home_Process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PR_CV_Upload</servlet-name>
        <servlet-class>PR.PR_CV_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Company_Details</servlet-name>
        <servlet-class>Company.Upload_Company_Details</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <jsp-file>/WEB-INF/Schedule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login_Verification</servlet-name>
        <servlet-class>Login_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Verification</servlet-name>
        <url-pattern>/Login_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration_Page_Redirect</servlet-name>
        <servlet-class>Registration_Page_Redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration_Page_Redirect</servlet-name>
        <url-pattern>/Registration_Page_Redirect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Student_Registration_Page</servlet-name>
        <jsp-file>/WEB-INF/Stud_Home/Student_Registration_Page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student_Registration_Page</servlet-name>
        <url-pattern>/Student_Registration_Page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stud_Update_Details</servlet-name>
        <jsp-file>/WEB-INF/Stud_Home/Stud_Update_Details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stud_Update_Details</servlet-name>
        <url-pattern>/Stud_Update_Details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Registration_Page</servlet-name>
        <jsp-file>/WEB-INF/Company_Home/Company_Registration_Page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company_Registration_Page</servlet-name>
        <url-pattern>/Company_Registration_Page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Home</servlet-name>
        <jsp-file>/WEB-INF/Admin_Home/Admin_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Home</servlet-name>
        <url-pattern>/Admin_Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Home</servlet-name>
        <jsp-file>/WEB-INF/Company_Home/Company_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company_Home</servlet-name>
        <url-pattern>/Company_Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Update_Details</servlet-name>
        <jsp-file>/WEB-INF/Company_Home/Company_Update_Details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company_Update_Details</servlet-name>
        <url-pattern>/Company_Update_Details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PR_Home</servlet-name>
        <jsp-file>/WEB-INF/PR_Home/PR_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PR_Home</servlet-name>
        <url-pattern>/PR_Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PR_Update_Details</servlet-name>
        <jsp-file>/WEB-INF/PR_Home/PR_Update_Details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PR_Update_Details</servlet-name>
        <url-pattern>/PR_Update_Details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stud_Home</servlet-name>
        <jsp-file>/WEB-INF/Stud_Home/Stud_Home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stud_Home</servlet-name>
        <url-pattern>/Stud_Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Student_Registration_Verification</servlet-name>
        <servlet-class>Student.Student_Registration_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student_Registration_Verification</servlet-name>
        <url-pattern>/Student_Registration_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Student_Update_Verification</servlet-name>
        <servlet-class>Student.Student_Update_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student_Update_Verification</servlet-name>
        <url-pattern>/Student_Update_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Registration_Verification</servlet-name>
        <servlet-class>Company.Company_Registration_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company_Registration_Verification</servlet-name>
        <url-pattern>/Company_Registration_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Student_Home_Process</servlet-name>
        <servlet-class>Student.Student_Home_Process</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student_Home_Process</servlet-name>
        <url-pattern>/Student_Home_Process</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PR_Home_Process</servlet-name>
        <servlet-class>PR.PR_Home_Process</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PR_Home_Process</servlet-name>
        <url-pattern>/PR_Home_Process</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Home_Process</servlet-name>
        <servlet-class>Company.Company_Home_Process</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company_Home_Process</servlet-name>
        <url-pattern>/Company_Home_Process</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LOG_OUT</servlet-name>
        <servlet-class>LOG_OUT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOG_OUT</servlet-name>
        <url-pattern>/LOG_OUT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PR_Update_Verification</servlet-name>
        <servlet-class>PR.PR_Update_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PR_Update_Verification</servlet-name>
        <url-pattern>/PR_Update_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_Update_Verification</servlet-name>
        <url-pattern>/Company_Update_Verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Company_Update_Verification</servlet-name>
        <servlet-class>Company.Company_Update_Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stud_CV_Upload</servlet-name>
        <url-pattern>/Stud_CV_Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Home_Process</servlet-name>
        <url-pattern>/Admin_Home_Process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PR_CV_Upload</servlet-name>
        <url-pattern>/PR_CV_Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Company_Details</servlet-name>
        <url-pattern>/Upload_Company_Details</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>Programme</param-name>
        <param-value>B.Tech,M.Tech,Phd,B.Des,M.Sc</param-value>
    </context-param>
    <context-param>
        <param-name>Departments</param-name>
        <param-value>CSE,MA,CL,CE,ME,BT,EP,EEE,ECE,Design,ALL</param-value>
    </context-param>
    <context-param>
        <param-name>Gender</param-name>
        <param-value>M,F</param-value>
    </context-param>
    <context-param>
        <param-name>Company Type</param-name>
        <param-value>Private,Govt,MNC(Indian Origin),MNC(Foreign Origin),PSU,NGO</param-value>
    </context-param>
    <context-param>
        <param-name>Industry Sector</param-name>
        <param-value>Core Engineering,IT,Finance,Analytics,Management,Education,Consulting</param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>stud-file-upload</param-name>
        <param-value>
           E:\PlacementPortal\student\
        </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>company-file-upload</param-name>
        <param-value>
           E:\PlacementPortal\company\
        </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file Temporarily</description>
        <param-name>temp-file-upload</param-name>
        <param-value>
            E:\PlacementPortal\temp\
        </param-value>
    </context-param>
</web-app>
